<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:name="com.ids.cloud9native.controller.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibraScan"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        
        <activity
            android:name=".controller.activities.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <service
            android:exported="true"
            android:name=".Notifications.MyFirebaseMessagingService" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <activity android:name=".controller.activities.ActivityLogin"/>
        <activity android:name=".controller.activities.ActivityMain"/>
        <activity android:name=".controller.activities.ActivityAllTasks"/>
        <activity android:name=".controller.activities.ActivityAddProduct"/>
        <activity android:name=".controller.activities.ActivityAddReccomendations"/>
        <activity android:name=".controller.activities.ActivityFullScreen"/>
        <activity android:name=".controller.activities.ActivtyVisitDetails"/>
        <activity android:name=".controller.activities.ActivityReportDetails"/>
        <activity android:name=".controller.activities.ActivityRecords"/>

        <service
            android:name=".utils.LocationForeService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false"
            tools:ignore="ForegroundServicePermission" />
    </application>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
</manifest>